
.post {
    border: 1px solid black;
    width: fit-content;
    padding: 1em;
    margin: 0em auto;
}

.title {
    font-size: 2em;
    margin: 0;
}

.date, .from {
    font-size: 1em;
    margin: 0;
}

.divider {
    margin: 0;
}

.content {
    margin: 0.5em 0;
}