
:root {
    --theme-color-main: rgb(0, 28, 48);
    --theme-color-secondary: rgb(218, 255, 251);
    --theme-color-tertiary: rgb(23, 107, 135);
}

body {
    background-color: var(--theme-color-main);
    color: var(--theme-color-secondary);

    margin: 0;
    padding: 0;
}








.nav {
    background-color: var(--theme-color-tertiary);
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
}

.nav-button {
    background-color: var(--theme-color-secondary);
    color: var(--theme-color-main);
    font-size: 1em;
    padding: 1.25em 1em;
    border: 0;
}

.nav-button:hover {
    background-color: var(--theme-color-main);
    color: var(--theme-color-secondary);
}

.nav-button-righty {
    margin-left: auto;
}











.post {
    border: 1px solid var(--theme-color-tertiary);
    width: fit-content;
    min-width: 60%;
    max-width: 60%;
    padding: 1em;
    margin: 2em auto;
}

.title {
    font-size: 2em;
    margin: 0;
}

.date, .from {
    font-size: 1em;
    margin: 0;
}

.divider {
    margin: 0;
    border-color: var(--theme-color-tertiary);
}

.content {
    margin: 0.5em 0;
}